MONGO_URI=mongodb://127.0.0.1:27017/cinecritique
JWT_ACCESS_SECRET=ton_secret_access
JWT_REFRESH_SECRET=ton_secret_refresh
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
FRONTEND_ORIGIN=http://localhost:5173

